/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container2 {
  max-width: 223px;
  margin: 0 auto;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-40 {
  padding-bottom: 40px !important;
}

.outline {
  outline: 1px solid black;
}

.btn-top {
  background-color: #415165;
  border-radius: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.btn-top:hover {
  border: 2px solid #415165;
  background-color: white;
  color: #415165;
}

header {
  margin-bottom: 48px !important;
}
header h1 {
  font-size: 80px;
  line-height: 95px;
  padding-bottom: 24px;
  margin-top: 40px;
  border-bottom: 2px solid black;
  margin-bottom: 48px;
}
header img {
  width: 324px;
  height: 324px;
}
header hr {
  border: 2px solid black;
  margin-bottom: 48px;
}

h2 {
  font-size: 32px;
  line-height: 48px;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  font-weight: bold;
  margin-bottom: 16px;
}

span {
  margin-left: 16px;
  font-size: 24px;
  line-height: 36px;
  color: #A00404;
}

.profile li {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 24px;
}

.education {
  margin-top: 64px;
  margin-bottom: 64px;
}
.education li {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  margin-bottom: 24px;
}

.skill {
  text-align: center;
  background-color: #415165;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 64px;
}
.skill h2 {
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  border-bottom: 1px solid white;
  margin-bottom: 40px !important;
  width: 996px;
  margin: 0 auto;
}
.skill span {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 36px;
}
.skill ul {
  border-left: 1px solid white;
  padding-left: 23px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px !important;
}
.skill li {
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  font-weight: 300;
  margin-bottom: 8px;
}

.workexperince {
  margin-bottom: 80px;
}
.workexperince ul {
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
  margin-left: 20px;
}
.workexperince li {
  font-size: 24px;
  line-height: 36px;
}
.workexperince img {
  width: 100px;
  height: 100px;
}
.workexperince p {
  width: 642px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 24px;
}

.contact {
  background-color: #415165;
  text-align: center;
  padding-top: 24px;
}

.contact-title h2 {
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
  border-bottom: 1px solid white;
  margin-bottom: 24px;
}
.contact-title span {
  color: #FFFFFF;
  font-size: 24px;
  line-height: 36px;
}
.contact-title li {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.contact-title a {
  color: #FFFFFF;
}

.contact-icon {
  display: flex;
  justify-content: center;
}
.contact-icon img {
  width: 48px;
  height: 48px;
  margin-right: 24px;
}/*# sourceMappingURL=index.css.map */